/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body covers the viewport height */
  position: relative; /* Establish a positioning context for the footer */
  background-image: url("../pictures/background.jpg");
  background-size: cover;
  background-position: center;
  /* position: fixed; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  z-index: -1;
}

.hline {  
  width: 100%;
  height: 2px;
  margin: 0;
  background: linear-gradient(to right, transparent, #000, transparent);
  border: none;
}

.hrline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  
  /* text-align: center; */
}

.logo {
  /* background-image: url("logo.jpg"); */
  position: absolute;
  background-repeat: no-repeat;
  z-index: 3;
  background-size: cover;
  left: 5%;
  /* border-radius: 50%; /* This will create a circular shape */
  /* overflow: hidden; Clip any content that goes beyond the rounded corners */
}

form {
  color: #0a0b09;
  display: flex;
  padding: 2;
  /* border: 1px solid currentColor; */
  /* border-radius: 15px; */
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 8px 8px 8px 30px;
  width: 500px;
  font-size: 14px;
  color: inherit;
  /* border: 1px solid transparent; */
  border-radius: 15px 0 0 0 ;
  /* color:#b6e286; */
  background-color: #e7f0dd;
}

input[type="search"]::placeholder {
  color: #161515;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0 0 15px 0;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.75;
  background-color: #e7f0dd;
}

input[type="search"]:hover,
button[type="submit"]:hover {
  opacity: 1;
  box-shadow: 0 0 10px 0 #e49d32;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 20px 0 #f6f6f7;
  border-color: #f21b0b;
  outline: none;
  background-color: azure;
}

.login {
  color: orange;
  /* margin-right: 0; */
  padding: 2;
  border: none;
}

.login::after {
  content: '';
  display: block;
  position: absolute;
  width: 100px;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -2px;
  background-color: yellow;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}


.login:hover {
  background-color: #212529;
  color: rgb(206, 229, 252) ;
  transform: scaleX(1);
}

.login:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}

.login::after {
  transition-duration: 0s;
}

.login:hover::after {
  transition-duration: 0.25s;
}



.login1 {
  color: rgb(231, 255, 94);
  padding: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}

.login1::after {
  content: '';
  display: block;
  position: absolute;
  width: 120px;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -3px;
  background-color: #e0f000;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.login1:hover {
  color: #ededbf;
  cursor: pointer;
  box-shadow: 0 0 5px 2px #f6f6f7;
  background-color: inherit;
  border: 5px 5px 5px 5px solid;
  border-color: #f6f6f7;
  transform: scaleX(1);
  border-spacing: 1cm;
  /* transform-origin: bottom left; */
}

.login1:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}

.login1::after {
  transition-duration: 0s;
}

.login1:hover::after {
  transition-duration: 0.25s;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%; /* Height of the footer */
  /* padding-top: 10%; */
}

